<!DOCTYPE html>
<html lang="de">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <img id="loading" class="loading-indicator" src="/images/icons8-loading.gif" alt="Lädt">
      <template>
        <div class="fade-in">
          <h2 class="weather-title"></h2>
          <div class="grid-1-2">
            {% include weather-section.html %}
            <div class="forecast-chart"></div>
            <div class="grid-2 match-chart-padding">
              <div class="card">
                <span class="icon solar"></span>
                <div>
                  <span class="primary">Erzeugung</span>
                  <small>~ <span class="loadable forecast-generation"></span> kWh</small>
                </div>
              </div>
              <div class="card">
                <span class="icon home"></span>
                <div>
                  <span class="primary">Verbrauch</span>
                  <small>~ <span class="loadable forecast-consumption"></span> kWh</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </main>
    {% include footer.html %}
    <script src="/forecast.js" type="module"></script>
  </body>
</html>
