<!DOCTYPE html>
<html lang="de">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <img id="loading" class="loading-indicator" src="/images/icons8-loading.gif" alt="Lädt">
      <template>
        <div class="fade-in">
          <h2 class="weather-title"></h2>
          <div class="grid-1-2">
            {% include weather-data.html %}
            <div class="forecast-chart"></div>
          </div>
        </div>
      </template>
    </main>
    {% include footer.html %}
    <script src="/forecast.js" type="module"></script>
  </body>
</html>
