<!DOCTYPE html>
<html lang="de">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <h2>Offline</h2>
      <div class="grid-1-2">
        <div class="match-chart-padding">
          <div class="card">
            <img src="/images/icons8-error.svg" alt="Symbol">
            <div>
              <span class="primary">Keine Verbindung</span>
              <small>Keine Verbindung</small>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
