<!DOCTYPE html>
<html lang="de">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <h2>Einstellungen</h2>
      <div id="devices" class="match-chart-padding">
        <h3>Geräte</h3>
        <table>
          <tr>
            <th></th>
            <th>Modell</th>
            <th>Info</th>
            <th>Status</th>
            <th width="1%">Link</th>
          </tr>
        </table>
        <template>
          <tr>
            <td class="icon"></td>
            <td class="model">-</td>
            <td class="mode">-</td>
            <td class="status">-</td>
            <td><a class="btn link" target="_blank">Öffnen</a></td>
          </tr>
        </template>
      </div>
      <div class="match-chart-padding">
        <h3>Preise</h3>
        <table>
          <tr>
            <td class="icon send-money"></td>
            <th>Einkaufspreis</th>
            <td><span class="energy-price-in loadable"></span> €/kWh</td>
            <td width="1%"><button id="energy-price-in" type="button">Ändern</button></td>
          </tr>
          <tr>
            <td class="icon request-money"></td>
            <th>Verkaufspreis</th>
            <td><span class="energy-price-out loadable"></span> €/kWh</td>
            <td><button id="energy-price-out" type="button">Ändern</button></td>
          </tr>
        </table>
      </div>
      <div class="match-chart-padding">
        <h3>Wetter</h3>
        <table>
          <tr>
            <td class="icon cloudy"></td>
            <th>Standort</th>
            <td><span class="weather-location loadable"></span></td>
            <td width="1%"><button id="weather-location" type="button">Ändern</button></td>
          </tr>
        </table>
      </div>
    </main>
    {% include footer.html %}
    <script src="/settings.js" type="module"></script>
  </body>
</html>
