<div class="energy-section grid-2 match-chart-padding">
  <div class="card">
    <span class="icon percentage"></span>
    <div>
      <span class="primary">Autarkiequote</span>
      <small><span class="loadable energy-self-sufficiency"></span> %</small>
    </div>
  </div>
  <div class="card">
    <span class="icon solar"></span>
    <div>
      <span class="primary">Gesamterzeugung</span>
      <small><span class="loadable energy-from-roof"></span> Wh</small>
    </div>
  </div>
  <div class="card">
    <span class="icon home"></span>
    <div>
      <span class="primary">Gesamtverbrauch</span>
      <small><span class="loadable energy-used"></span> Wh</small>
    </div>
  </div>
  <div class="card">
    <span class="icon solar-energy"></span>
    <div>
      <span class="primary">Direktverbrauch</span>
      <small><span class="loadable energy-from-roof-used"></span> Wh (<span class="energy-from-roof-used-percentage loadable"></span> %)</small>
    </div>
  </div>
  <div class="card">
    <span class="icon solar-energy"></span>
    <div>
      <span class="primary">Eigenverbrauch</span>
      <small><span class="loadable energy-from-roof-used-with-battery"></span> Wh (<span class="energy-from-roof-used-with-battery-percentage loadable"></span> %)</small>
    </div>
  </div>
  <div class="card">
    <span class="icon full-battery"></span>
    <div>
      <span class="primary">Batterieladung</span>
      <small><span class="loadable energy-to-battery"></span> Wh</small>
    </div>
  </div>
  <div class="card">
    <span class="icon empty-battery"></span>
    <div>
      <span class="primary">Batterieentladung</span>
      <small><span class="loadable energy-from-battery"></span> Wh</small>
    </div>
  </div>
  <div class="card">
    <span class="icon electricity"></span>
    <div>
      <span class="primary">Netzbezug</span>
      <small><span class="loadable energy-from-grid"></span> Wh</small>
    </div>
  </div>
  <div class="card">
    <span class="icon electricity"></span>
    <div>
      <span class="primary">Netzeinspeisung</span>
      <small><span class="loadable energy-to-grid"></span> Wh</small>
    </div>
  </div>
</div>
