<div class="energy-section match-chart-padding">
  <h3>Energie</h3>
  <table>
    <tr>
      <td class="icon solar"></td>
      <th>Gesamterzeugung</th>
      <td><span class="energy-from-roof loadable"></span> Wh</td>
      <td></td>
    </tr>
    <tr>
      <td class="icon home"></td>
      <th>Gesamtverbrauch</th>
      <td><span class="energy-used loadable"></span> Wh</td>
      <td></td>
    </tr>
    <tr>
      <td class="icon solar-energy"></td>
      <th>Direktverbrauch</th>
      <td><span class="energy-from-roof-used loadable"></span> Wh</td>
      <td><span class="energy-from-roof-used-percentage loadable"></span> %</td>
    </tr>
    <tr>
      <td class="icon solar-energy"></td>
      <th>Eigenverbrauch</th>
      <td><span class="energy-from-roof-used-with-battery loadable"></span> Wh</td>
      <td><span class="energy-from-roof-used-with-battery-percentage loadable"></span> %</td>
    </tr>
    <tr>
      <td class="icon full-battery"></td>
      <th>Batterieladung</th>
      <td><span class="energy-to-battery loadable"></span> Wh</td>
      <td></td>
    </tr>
    <tr>
      <td class="icon empty-battery"></td>
      <th>Batterieentladung</th>
      <td><span class="energy-from-battery loadable"></span> Wh</td>
      <td></td>
    </tr>
    <tr>
      <td class="icon electricity"></td>
      <th>Netzbezug</th>
      <td><span class="energy-from-grid loadable"></span> Wh</td>
      <td></td>
    </tr>
    <tr>
      <td class="icon electricity"></td>
      <th>Netzeinspeisung</th>
      <td><span class="energy-to-grid loadable"></span> Wh</td>
      <td></td>
    </tr>
  </table>
</div>
