<div id="source-chart"></div>
<div class="match-chart-padding">
  <h3>Ökonomisch</h3>
  <table>
    <tr>
      <td class="icon send-money"></td>
      <th>Gezahlt</th>
      <td><span id="energy-cost-in" class="loadable"></span> €</td>
      <td>bei <span class="energy-price-in loadable"></span> €/kWh</td>
    </tr>
    <tr>
      <td class="icon money"></td>
      <th>Gespart</th>
      <td><span id="energy-saved-cost-in" class="loadable"></span> €</td>
      <td>bei <span class="energy-price-in loadable"></span> €/kWh</td>
    </tr>
    <tr>
      <td class="icon request-money"></td>
      <th>Verdient</th>
      <td><span id="energy-cost-out" class="loadable"></span> €</td>
      <td>bei <span class="energy-price-out loadable"></span> €/kWh</td>
    </tr>
  </table>
</div>
