<div class="weather-chart"></div>
<div class="grid-2 match-chart-padding">
  <div class="card">
    <span class="icon sunrise"></span>
    <div>
      <span class="primary">Sonnenaufgang</span>
      <small><span class="loadable weather-sunrise"></span></small>
    </div>
  </div>
  <div class="card">
    <span class="icon sunset"></span>
    <div>
      <span class="primary">Sonnenuntergang</span>
      <small><span class="loadable weather-sunset"></span></small>
    </div>
  </div>
  <div class="card">
    <span class="icon timer"></span>
    <div>
      <span class="primary">Sonnenstunden</span>
      <small><span class="loadable weather-sun-hours"></span> Stunden</small>
    </div>
  </div>
  <div class="card">
    <span class="icon waves"></span>
    <div>
      <span class="primary">UV-Index</span>
      <small><span class="loadable weather-uv-index"></span></small>
    </div>
  </div>
</div>
