<head>
  <title>Echtzeit-Übersicht Solarenergieerzeugung für Zuhause</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Überwachen und optimieren Sie die Erzeugung von Solarenergie für Ihr Zuhause mit unserer umfassenden Datenübersicht. Erhalten Sie Echtzeit-Einblicke in Ihre Solarstromerzeugung.">
  <meta name="theme-color" content="#ffffff"/>
  <link rel="manifest" href="/pwa/manifest.json">
  <link rel="icon" href="/images/icons8-home.svg" type="image/svg+xml" >
  <link rel="stylesheet" href="/main.css">
</head>
